# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build/
!.mvn/wrapper/maven-wrapper.jar

# MD 
./GUIDE.MD 

# Java
*.class
*.jar
*.war
*.ear
*.log

# IDE
.idea/
*.iml
*.iws
.project
.classpath
.settings/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Test output
test-output/
